<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">
    <meta charset="UTF-8">
    <title>Title Content</title>
</head>
<body>
    <div align="center">
        <h2>Game Over</h2>
        <h3 th:text="${__${T(xhemil.learn.util.AttributeNames).RESULT_MESSAGE}__}">Result Message Content</h3>
        <h3><a  th:href="@{__${T(xhemil.learn.util.GameMappings).RESTART}__}" th:text="Play">Play Again</a></h3>
        <h3><a  th:href="@{__${T(xhemil.learn.util.GameMappings).HOME}__}" th:text="Home">Home</a></h3>
    </div>

    <footer th:replace="~{fragments/footer :: footer}">
        <p>Create by Learn Programing Academy</p>
    </footer>
</body>
</html>